.btn {
    background-color: blueviolet;
    color: white;
}
* {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
}
footer {
    color: ;
}
#correct {
    color: green;
}
#incorrect {
    color: red;
}
